.numPages {
  list-style: none;
  display: flex;
  margin: 0 auto;
}
.numPages li {
  border: solid;
  border-radius: 5px;
  border-color: #c04848;
  background-color: #480048;
  margin-left: 5px;
  padding: 5px;
  color: azure;
  text-shadow: #ffd600;
}

.numPages li:hover {
  cursor: pointer;
}

.numPages .currentPage {
  border: solid 4px;
  border-color: #c04848;
  background-color: #fb02f1;
  border-radius: 5px;
  color: azure;
  text-shadow: #ffd600;
}
